/* CSS Document */
*{
	margin:0;
	padding:0;
	font-size:14px;
	}
body{
	width:100%;
	height:100%;
	overflow:hidden;
	font-family:"微软雅黑"; 
	background:#E1E1E1 url(../images/login_bj.jpg);
	color: #454545; 
	}
a { color:#333;
text-decoration:none;}
a:hover {
	text-decoration: underline;}
#login{
	position:absolute; 
	top:50%; 
	left:50%; 
	margin:-155px 0 0 -255px;  
	width:510px;
	height:310px;
	border:1px solid #79C4FB;
	border-radius:5px;
	}
#login_con{
	width:500px;
	height:300px;
	background:url(../images/login_con_bj.jpg);
	margin:5px auto;}
#login_form{
	position:relative;
	top:136px;
	left:210px;}
#login_form tr{
	height:35px;}
.user{
	height:20px;
	background:url(../images/male.png) no-repeat left;
	padding-left:18px;
	}
.pass{
	height:20px;
	background: url(../images/login.png) no-repeat left;
	padding-left:18px;
	}
.butt{
	width:80px;
	height:30px;
	background:url(../images/login_butt.jpg) no-repeat;
	border:none;
	color:#fff;
	font-weight:bold;}
label{
	font-size:13px;
	padding-right:5px;}

